.headerContainer{
    padding: 6rem;
    background-color: rgb(85, 161, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.headerTitle{
    color: #fff;
    font-size: 4rem;
}

.headerImage{
    width: 40%;
}

@media (max-width: 765px) {
    .headerContainer{
        width:100%
    }
}